@import '../../../../../../common/styles/mixins';
@import '../../../../../../common/styles/variebles';

.taskDeadlineInput {
  @include text($fontFamilyStyle, 14px, 550, $primaryColor);
  width: 140px;
  padding: 0 4px;
  border-width: 0.6px;
  border-color: $secondColor;
  border-radius: 8px;
}