@import 'src/common/styles/mixins';
@import 'src/common/styles/variebles';

.taskSettingsContainer {
  @include flexBox(column, start, stretch, nowrap);
  border-radius: 20px;
  box-shadow: inset 1px 1px 1px $secondColor, 1px 1px 2px $secondColor;
  padding: 3px 0 3px 25px;
  margin: 2px 5px;

  .settingsItemContainer {
    margin: 1px 0;
    justify-content: space-around;

    .taskItemHelpText {
      @include text($fontFamilyStyle, 14px, 700, $backTextColor);
      margin: 0 6px 0 0;
    }

    .itemText {
      @include text($fontFamilyStyle, 14px, 500, $greyTextColor);
    }

    .taskDescriptionEditableSpanInput {
      width: 90%;
    }
  }
}