@import 'src/common/styles/mixins';
@import 'src/common/styles/variebles';

.todolistBlock {
  background-color: $textColor;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 1px 10px $secondColor;

  .todolistContainer {
    padding: 15px 15px 10px 15px;

    .todolistTitleContainer {
      @include flexBox(row, space-between, center, nowrap);
      width: 100%;

      .todolistTitle {
        @include text($fontFamilyStyle, 20px, 600, $primaryColor);
      }
    }

    .todolistDisplay {
      @include flexBox(row, stretch, center, nowrap);
      @include text('Segoe UI', 14px, 500, $backTextColor);

      .todolistDeleteButton {
        @include materialUIButton(36px, 36px, 1.8rem);
        margin: 0 0.5px 0 12px;
      }
    }

    .todolistFilterContainer {
      width: 100%;
      @include flexBox(row, flex-start, center, nowrap);
      margin: 10px 0 5px 0;
    }
  }
}