@import 'src/common/styles/mixins';
@import 'src/common/styles/variebles';

.todolistBlock {
  height: max-content;
  width: 100%;
  background-color: $textColor;
  border-radius: 20px;
  box-shadow: 0 1px 10px $secondColor;

  .todolistContainer {
    width: 100%;
    padding: 15px 15px 10px 15px;

    .todolistTitleContainer {
      @include flexBox(row, space-between, center, nowrap);
      width: 100%;

      .todolistTitleEditableSpanInput {
        width: 100%;
      }

      .todolistTitle {
        width: 100%;
        @include text($fontFamilyStyle, 19px, 700, $primaryColor);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .todolistInput {
      background-color: #ffffff;
      width: 100%;
    }

    .todolistDisplay {
      @include flexBox(row, flex-start, center, nowrap);
      @include text('Segoe UI', 14px, 500, $backTextColor);
      margin: 0 0 0 12px;

      .todolistDeleteButton {
        @include materialUIButton(36px, 36px, 1.8rem);
        margin: 0 0.5px 0 12px;
      }
    }

    .todolistFilterContainer {
      width: 100%;
      @include flexBox(row, flex-start, center, nowrap);
      margin: 10px 0 5px 0;

      .buttonGroupContainer {
        width: 100%;

        .buttonFilter {
          font-family: $fontFamilyStyle;
          font-size: 13px;
          font-weight: 600;
          width: 100%;
        }
      }

    }
  }
}