@import "src/common/styles/mixins";
@import "src/common/styles/variebles";

.todolistsListBlock {
  padding: 20px 0 0 0;
  width: 92vw;

  .particles {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    z-index: -999;
  }

  .todolistsListInputContainer {
    display: flex;
    margin: 0 0 30px 0;

    .todolistsListInput {
      width: 300px;
      background-color: $textColor;
    }

    @media only screen and (max-width: 680px) {
      width: 100%;
    }
  }

  .todolistslits {
    display: flex;
    justify-content: flex-start;
    margin-left: -25px;
  }

  .todolistColumnItem {
    background-clip: padding-box;
    padding-left: 25px;
  }

  .todolistColumnItem > div {
    margin-bottom: 25px;
  }
}