@import 'src/common/styles/mixins';
@import 'src/common/styles/variebles';


.particles {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  z-index: -999;
}

.todolistsListInputContainer {
  margin: 35px 0;
}

.todolistsListContainer {
  @include container();
  width: 100%;

  .todolistslits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
    padding: 0 0 35px 0;
  }
}