@import 'src/common/styles/mixins';
@import 'src/common/styles/variebles';

.todolistsListBlock {
  padding: 20px 0 30px 0;

  .particles {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    z-index: -999;
  }

  .todolistsListInputContainer {
    margin: 0 0 30px 0;

    .todolistsListInput {
      background-color: #ffffff;
      width: 340px;
    }
  }

  .todolistslits {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 20vw));
    grid-gap: 30px;
    justify-content: center;
  }
}